/* Общие стили для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для контейнера */
.container {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Основной блок */
.main-box {
    width: 1920px;
    height: 1080px;
    background: white;
    box-shadow: 45px 28px 177px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 61px;
}

/* Шапка с логотипом */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 16px;
}

.logo {
    color: #2947A9;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
}

/* Заголовки для полей "Логин" и "Пароль" */
.title {
    color: #2947A9;
    font-size: 45px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-top: 20px;
}

/* Поле ввода */
.input-box {
    width: 348px;
    height: 96px;
    background: white;
    border-radius: 50px;
    border: 5px solid #9AADF2;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-top: 20px;
    gap: 8px;
}

/* Пустое поле для ввода */
.input-field {
    flex-grow: 1;
}

/* Иконка справа */
.icon {
    width: 16px;
    height: 16px;
    border: 1.6px solid #1E1E1E;
}

/* Кнопка входа */
.login-button {
    width: 348px;
    height: 124px;
    background: #9AADF2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-text {
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}
.error-message {
    color: red;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 5px;
}