* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}

.container {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-box {
    width: 1920px;
    height: 1080px;
    background: white;
    box-shadow: 44px 28px 176px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    width: 100%;
    height: 58.54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 60px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    color: #2947A9;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    width: 199px;
    height: 47px;
    background-color: #9AADF2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.main-image {
    width: 1190px;
    height: 443px;
    border-radius: 59px;
    margin: 20px auto;
    display: block; 
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    color: #2947A9;
    margin-top: 30px; 
}

.advantages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Расстояние между коробками */
    margin-top: 30px;
    width: 100%;
    height: auto; /* Позволяет контейнеру адаптироваться по высоте */
}

.advantage-box {
    flex-basis: 32%; /* Каждая коробка будет занимать 45% ширины, что позволяет двум колонкам встать рядом */
    min-width: 300px; /* Минимальная ширина коробки */
    background: white;
    border-radius: 20px;
    border: 4px #9AADF2 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.advantage-text {
    color: #2947A9;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    width: 100%;
}


.footer-box {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #2947A9;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.footer-logo {
    font-size: 48px;
    font-style: italic;
}

.footer-contact {
    font-size: 22px;
    font-style: italic;
}